
.cube-container {
  width: 50px;
  height: 50px;
  position: relative;
  -webkit-perspective: 1000px;
          perspective: 1000px;
}
.cube-container .cube {
  width: 100%;
  height: 100%;
  position: absolute;
  -webkit-transform-style: preserve-3d;
          transform-style: preserve-3d;
  -webkit-animation: cubeAnimation 5s ease infinite;
          animation: cubeAnimation 5s ease infinite;
}
.cube-container .cube div {
  position: absolute;
  width: 50px;
  height: 50px;
}
.cube-container .cube .front {
  box-shadow:inset 0px 0px 0px 2px #6546C2;
  border: 2px solid #1BE4C9;
  -webkit-transform: translateZ(25px);
          transform: translateZ(25px);
}
.cube-container .cube .back {
  box-shadow:inset 0px 0px 0px 2px #6546C2;
  border: 2px solid #1BE4C9;
  -webkit-transform: rotateX(-180deg) translateZ(25px);
          transform: rotateX(-180deg) translateZ(25px);
}
.cube-container .cube .right {
  box-shadow:inset 0px 0px 0px 4px #6546C2;
  border: 2px solid #1BE4C9;
  -webkit-transform: rotateY(90deg) translateZ(25px);
          transform: rotateY(90deg) translateZ(25px);
}
.cube-container .cube .left {
  box-shadow:inset 0px 0px 0px 2px #6546C2;
  border: 2px solid #1BE4C9;
  -webkit-transform: rotateY(-90deg) translateZ(25px);
          transform: rotateY(-90deg) translateZ(25px);
}
.cube-container .cube .top {
  box-shadow:inset 0px 0px 0px 2px #6546C2;
  border: 2px solid #1BE4C9;
  -webkit-transform: rotateX(90deg) translateZ(25px);
          transform: rotateX(90deg) translateZ(25px);
}
.cube-container .cube .bottom {
  box-shadow:inset 0px 0px 0px 2px #6546C2;
  border: 2px solid #1BE4C9;
  -webkit-transform: rotateX(-90deg) translateZ(25px);
          transform: rotateX(-90deg) translateZ(25px);
}

@-webkit-keyframes cubeAnimation {
  16.5% {
    -webkit-transform: translateZ(-25px) rotateX(-90deg);
            transform: translateZ(-25px) rotateX(-90deg);
  }
  33% {
    -webkit-transform: translateZ(-25px) rotateX(90deg);
            transform: translateZ(-25px) rotateX(90deg);
  }
  49.5% {
    -webkit-transform: translateZ(-25px) rotateY(-90deg);
            transform: translateZ(-25px) rotateY(-90deg);
  }
  66% {
    -webkit-transform: translateZ(-25px) rotateY(90deg);
            transform: translateZ(-25px) rotateY(90deg);
  }
  82% {
    -webkit-transform: translateZ(-25px) rotateX(-180deg);
            transform: translateZ(-25px) rotateX(-180deg);
  }
}

@keyframes cubeAnimation {
  16.5% {
    -webkit-transform: translateZ(-25px) rotateX(-90deg);
            transform: translateZ(-25px) rotateX(-90deg);
  }
  33% {
    -webkit-transform: translateZ(-25px) rotateX(90deg);
            transform: translateZ(-25px) rotateX(90deg);
  }
  49.5% {
    -webkit-transform: translateZ(-25px) rotateY(-90deg);
            transform: translateZ(-25px) rotateY(-90deg);
  }
  66% {
    -webkit-transform: translateZ(-25px) rotateY(90deg);
            transform: translateZ(-25px) rotateY(90deg);
  }
  82% {
    -webkit-transform: translateZ(-25px) rotateX(-180deg);
            transform: translateZ(-25px) rotateX(-180deg);
  }
}